{% extends 'base.html' %}

{% block title %}Тренеры{% endblock %}

{% block content %}
<div class="container">
    <h1 class="mb-4">Тренеры</h1>

    <div class="row">
        {% for trainer in trainers %}
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                {% if trainer.image %}
                <img src="{{ trainer.image.url }}" class="card-img-top" height="300" alt="{{ trainer.name }}">
                {% endif %}

                <div class="card-body">
                    <h5>{{ trainer.name }}</h5>
                    <p>{{ trainer.specialty }}</p>
                    <p>{{ trainer.description }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}