<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% extends 'base.html' %}

{% block content %}

<div class="row">

    <div class="col-md-6">
        {% if abonement.image %}
        <img src="{{ abonement.image.url }}" class="img-fluid rounded">
        {% endif %}
    </div>

    <div class="col-md-6">
        <h1>{{ abonement.name }}</h1>

        <p>{{ abonement.description }}</p>

        <h3>{{ abonement.price }} сом</h3>

        <p>Срок: {{ abonement.period_days }} дней</p>

        <a href="{% url 'abonement_update' abonement.pk %}" class="btn btn-warning">
            Изменить
        </a>

        <a href="{% url 'abonement_delete' abonement.pk %}" class="btn btn-danger">
            Удалить
        </a>
    </div>

</div>

{% endblock %}
</body>
</html>