<footer id="contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h5><i class="fas fa-dumbbell"></i> FitClub</h5>
                <p>Превращаем мечты в результат. Присоединяйся к сообществу здоровых и сильных людей.</p>
            </div>
            <div class="col-md-4">
                <h5>Контакты</h5>
                <p><i class="fas fa-phone"></i> +7 (999) 123-45-67</p>
                <p><i class="fas fa-envelope"></i> info@fitclub.ru</p>
                <p><i class="fas fa-map-marker-alt"></i> г. Москва, ул. Спортивная, 15</p>
            </div>
            <div class="col-md-4">
                <h5>Часы работы</h5>
                <p>Пн-Пт: 08:00 - 23:00</p>
                <p>Сб-Вс: 09:00 - 21:00</p>
            </div>
        </div>
        <hr class="bg-secondary">
        <div class="text-center">
            <p>&copy; 2024 FitClub. Все права защищены.</p>
        </div>
    </div>
</footer>